@charset "utf-8";
/* CSS Document */

body
{
	background: #666666;
}

header{
	background-color: #FFFFFF;
	border-radius: 15px;
	padding: 10px;
	margin: 10px;
}

section #texto1{
	background-color: #FFFFFF;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
}

div #cuerpo{
	text-align: center;
	padding-top: 20px;
}

section {
	background-color: #FFFFFF;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
}

.row{
	padding: 10px;
	margin: 10px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

footer{
	background-color: #000000;
	color: #FFFFFF;
}

footer #row-footer{
	background-color: black;
	text-align: center;
	padding-top: 20px;
}
