@charset "utf-8";
/* CSS Document */

body
{
	background: #666666;
}

.nav.navbar-nav li a {
	color: black;
	font: 1.2em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.nav.navbar-nav li a:hover {
	color: #026698;
	font-style: italic;
}
