@charset "utf-8";
/* CSS Document */

body
{
	background: #666666;
}

a, a:link, a:visited, a:active, a:hover
{
	color: #81C0C5;
}

header{
	background-color: #FFFFFF;
	border-radius: 15px;
	padding: 10px;
	margin: 10px;
}

nav{
	//background-color: #b5d045;
}

section #texto1{
	background-color: #FFFFFF;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
}

section {
	background-color: #FFFFFF;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
}

footer{
	background-color: #000000;
	color: #FFFFFF;
}